/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  justify-items: center;
  color: var(--color, #000000);
  font-family: var(--main-font, sans-serif);
  font-weight: var(--main-width, 400);
  font-size: 18px;
  background-color: var(--bg-color-main, rgba(255, 255, 255, 1));
  background-image: var(--page-bg-gradient, rgba(255, 255, 255, 1));
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  display: flex;
  justify-content: center;
  margin-block: 100px;
}

.header__block {
  display: flex;
  flex-direction: column;
  grid-row-start: 2;
  grid-row-end: 3;
  align-items: center;
  max-width: 700px;
  border: 2px solid var(--color, #000000);
  padding-inline: 14px;
  padding-block-start: 120px;
  padding-block-end: 20px;
  background-color: var(--bg-color-main, #ffff);
}

.header__logo {
  color: var(--color, #000000);
  font-family: var(--main-font-acent, fantasy);
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
}

.header__title {
  padding-block-start: 16px;
  padding-block-end: 23px;
  color: var(--color, #000000);
  font-family: var(--main-font-acent, fantasy);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 7px;
}

button {
  position: relative;
  color: var(--color, #000000);
  font-family: var(--main-font-acent, fantasy);
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
}

button:disabled {
  color: var(--color-accent, rgba(0 0 0 / 60%));
  pointer-events: none;
}

.theme-menu__button {
  border: none;
  padding-inline-start: 25px;
  color: var(--color, #000000);
  text-transform: uppercase;
  background-color: transparent;
  transition: color 0.3s;
  transition-timing-function: ease;
  cursor: pointer;
}

.theme-menu__button:hover {
  color: var(--color-accent, rgba(0 0 0 / 60%));
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  background-color: var(--color-accent, rgba(0 0 0 / 60%));
  transition: width 300ms, background-color 0.3s;
}

.theme-menu__button:focus {
  outline: none;
  color: var(--color-accent, rgba(0 0 0 / 60%));
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0;
  left: 6px;
  opacity: 0.6;
  animation: arrow 0.5s ease-in-out infinite alternate;
  inline-size: 14px;
  block-size: 14px;
}

.theme-menu__button:disabled::after {
  left: 10px;
}

.main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.content__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
  border: 2px solid var(--color, #000000);
  padding-block-end: 25px;
  background-color: var(--bg-color-main, #ffff);
}

.content__title {
  padding-inline: 11px;
  padding-block-start: 6px;
  padding-block-end: 4px;
  font-weight: var(--title-width, 700);
  font-size: 18px;
}

.content__image {
  position: relative;
  max-height: 375px;
  border: 2px solid var(--color, #000000);
}

.content__image img {
  width: 100%;
  min-height: 371px;
  max-height: 696px;
  object-fit: cover;
}

.img-bright {
  filter: brightness(200%);
}

.img-contr {
  filter: contrast(80%);
}

.img-blur {
  filter: blur(0.2rem);
}

.img-opacity {
  filter: opacity(0.8);
}

.img-grays {
  filter: grayscale(0.6);
}

.img-multiple {
  filter: invert(1) brightness(200%) saturate(60%) hue-rotate(90deg);
}

.img-satur {
  filter: saturate(68%);
}

.img-sep {
  filter: sepia(80%);
}

.text {
  position: absolute;
  top: 24px;
  right: 13px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  font-family: var(--main-font-acent, fantasy);
  font-weight: 400;
  font-size: 14px;
  text-shadow:
  -1px 0 var(--color-lable, rgb(255 255 255 / 50%)), 
  0 1px var(--color-lable, rgb(255 255 255 / 50%)),  
  1px 0 var(--color-lable, rgb(255 255 255 / 50%)), 
  0 -1px var(--color-lable, rgb(255 255 255 / 50%));
  background-blend-mode: hard-light;
}


@supports (
  (text-stroke: 1px var(--color-lable, rgb(255 255 255 / 50%))) or
    (-webkit-text-stroke: 1px var(--color-lable, rgb(255 255 255 / 50%)))
) {
  .text {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--color-lable, rgb(255 255 255 / 50%));
    text-stroke: 1px var(--color-lable, rgb(255 255 255 / 50%));
  }
}

.card__box-content {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 28px;
   padding-inline: 25px;
   padding-block-start: 23px;
   padding-block-end: 26px;
}

.card__text-content {
  display: block;
  line-height: 21px;
  /* margin-inline-start: 25px;
  margin-inline-end: 25px;
  margin-block-start: 23px; */
}

.content__card-button {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}

.card__icon-button_heart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 38px;
  border: 2px solid transparent;
  padding: 0;
  background-color: inherit;
  transition: color 0.3s;
  transition-timing-function: ease;
}

.card__icon-button_heart:focus {
  outline: none;
}

.card__icon-button_heart:focus-visible {
  outline: 2px solid var(--color, #000000);
  outline-offset: -2px;
}

.card__like-button {
  width: 130px;
  height: 38px;
  margin-inline-end: 25px;
  font-size: 14px;
}

.button__style {
  position: relative;
  border: 2px solid var(--color, #000000);
  font-family: var(--main-font-acent, fantasy);
  background-color: transparent;
  transition: box-shadow 0.3s;
  transition-timing-function: ease;
  cursor: pointer;
}

.button__style:focus {
  box-shadow: 2px 2px 0 var(--color, #000000);
  outline: none;
}

.button__style:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color, #000000);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button__style:hover::after {
  transform: scaleX(1);
}

.card__like-button:focus-visible {
  width: 130px;
}

.button__text {
  position: relative;
  z-index: 10;
  color: var(--color-button, rgba(255, 255, 255, 1));
  text-align: center;
  mix-blend-mode: difference;
}

.section {
  display: flex;
  justify-content: center;
  padding-block-end: 100px;
}

.section__card-icon_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-inline: 33px;
  padding-inline: 19px;
  padding-block: 15px;
  background-color: var(--bg-color-main, #ffff);
}

.section__card-icon_button svg {
  position: relative;
  z-index: 11;
  color: var(--color-button, rgba(255, 255, 255, 1));
  mix-blend-mode: difference;
}

.section__card-icon_button:focus-visible::after {
  width: 310px;
}

dialog {
  position: fixed;
  inset: 0;
  display: grid;
  gap: 30px;
  border: 2px solid var(--color, #000000);
  border-width: 1px;
  padding-inline: 42px;
  padding-block: 30px;
  background-color: var(--bg-color-main, #ffff);
  transition: opacity 0.3s ease-in-out;
  max-inline-size: 353px;
  min-inline-size: 341px;
}

dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__floopy {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.dialog__floopy-text {
  width: 198px;
  color: var(--color, #000000);
  font-family: var(--main-font-acent, fantasy);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.close {
  width: 257px;
  height: 38px;
  text-transform: uppercase;
}

dialog .floppy {
  position: relative;
  z-index: 10;
  padding-block-start: 8px;
  color: var(--color-button, rgba(255, 255, 255, 1));
  text-align: center;
  mix-blend-mode: difference;
}

@media (width >= 700px) {
  .header__block {
    width: 700px;
    padding-block-start: 136px;
  }

  .card__box-content {
    align-items: flex-start;
}

  .content__image {
    max-height: 700px;
  }

  .content__image img {
    min-height: 696px;
  }

  .section__card-icon_button {
    flex-direction: row;
    gap: 9px;
    padding-block-start: 14px;
    padding-block-end: 18px;
  }

  .section__card-icon_button svg {
    width: 21px;
    height: 21px;
  }
}
