/* В этом файле будут храниться все значения переменных в исходном состоянии, 
а так же их изменения в зависимости от ширины устройства */
:root {
  --bg-img: url(../images/background-light.png);
  --bg-color-main: rgba(255, 255, 255, 1);
  --main-font: 'Inter-Variable';
  --main-font-acent: 'Press Start 2P';
  --main-width: 400;
  --title-width: 700;
  --color: #000000;
  --color-accent: rgba(0 0 0 / 60%);
  --color-html: rgb(255 255 255 / 50%); 
  --color-heart: red;
  --color-button: rgba(255, 255, 255, 1);
  --page-bg-gradient:  
  repeating-linear-gradient(#d3d3d3, transparent 4px),
  repeating-linear-gradient(90deg, #d3d3d3, transparent 4px),
  linear-gradient(#e7e7e7, #1a1a1a);
}
